
.navbar-custom  {
    background: #222;
    position: sticky !important;
  }
  .navbar-custom .nav-link {
    color: white;
  }
  .navbar-custom .nav-link:hover {
    color: #ddd;
  }
  .navbar-custom .navbar-brand {
    color: white;
  }
  .navbar-custom .navbar-toggler{
    background-color: wheat;
  }