
.navbar-custom {
    background: #222;
  }
  .navbar-custom .nav-link {
    color: white;
  }
  .navbar-custom .nav-link:hover {
    color: #ddd;
  }
  .navbar-custom .navbar-brand {
    color: white;
  }