body{
    color: white;
    background-color: #2e5567;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    padding-left: 25px;
}
/* .main{
    padding-left: 25px;
} */
#heading{
    font-size: 25px;
}
.introduction h2{
    font-weight: bold;
}
.overview{
    border-radius: 10px;
    width: 450px;
    padding-left: 15px;  
    background-color: #1a1a1a;
}
.overview h3{
    text-align: center;
    color: #ff5722;
}
.box{
    display: flex;
    justify-content: space-evenly;
}
